"auth/validator": {
    "alg": "RS256",
    "audience": ["http://authentication-service.prod.svc.cluster"],
    "jwk_url": "https://albert-test.auth0.com/.well-known/jwks.json",
    "cache": true,
    "issuer": "http://authentication-service.prod.svc.cluster",
}