{{define "SimfinyBackend"}}

{{$host := .}}

{
    "endpoint":"/v1/gateway/user",
    "method":"POST",
    "extra_config":{
    {{ include "rate_limit_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/user",
        "host":[
            "http://user-service.prod.svc.cluster.local:9896"
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/user/setup/{userId}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }}
    },
    "backend":[
    {
        "host":[
            "http://financial-integration-service.prod.svc.cluster.local:9896"
        ],
        "url_pattern":"/api/v1/token/setup/{userId}",
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/user/token-exchange/{userID}/{publicToken}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/token/exchange/{userID}/{publicToken}",
        "host":[
            "http://financial-integration-service.prod.svc.cluster.local:9896"
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/user/logout/{id}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
        {
            "url_pattern":"/api/v1/user/logout/{id}",
            "host":[
                "http://headless-authentication-service.prod.svc.cluster.local:9896"
            ],
            "method":"POST",
            "extra_config":{
                {{ include "modifier_backend.tmpl" }},
                {{ include "circuit_breaker_backend.tmpl" }}
            }
        }
    ]
},
{
    "endpoint":"/v1/gateway/user/{id}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/user/{id}",
        "host":[
            "http://user-service.prod.svc.cluster.local:9896"
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/user/{id}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/user/{id}",
        "host":[
            "http://user-service.prod.svc.cluster.local:9896"
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/financials/{userID}/{virtualAccountID}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/api/v1/accounts/user/{userID}/account/{virtualAccountID}",
        "host":[
            "http://financial-integration-service.prod.svc.cluster.local:9896"
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/user/login/{email}/{password}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "sequential_endpoint.tmpl" }}
    },
    "backend":[
        {
            "url_pattern":"/api/v1/user?email={email}",
            "host":[
                "http://user-service.prod.svc.cluster.local:9896"
            ],
            "method":"GET",
            "group":"userID"
        },
        {
          "url_pattern": "/api/v1/account/user/{resp0_userID}",
          "host": [
            "http://financial-integration-service.prod.svc.cluster.local:9896"
          ],
          "method": "GET",
          "group": "virtualAccountID"
        },
        {
            "url_pattern":"/v1/auth/user/login?email={email}?password={password}",
            "host":[
                "http://headless-authentication-service.prod.svc.cluster.local:9796"
            ],
            "method":"POST",
            "group": "token",
            "extra_config":{
                {{ include "modifier_backend.tmpl" }},
                {{ include "circuit_breaker_backend.tmpl" }}
            }
        }
    ]
}

{{end}}