{{define "social"}}
{{$host := .}}
{
    "endpoint":"/v1/gateway/social/community",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "input_query_strings": [
        "userID"
    ],
    "backend":[
    {
        "url_pattern":"/v1/social/community",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/social/community",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "input_query_strings": [
        "userID"
    ],
    "backend":[
    {
        "url_pattern":"/v1/social/community",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/social/community",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "input_query_strings": [
        "userID"
    ],
    "backend":[
    {
        "url_pattern":"/v1/social/community",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/social/community",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "input_query_strings": [
        "userID"
    ],
    "backend":[
    {
        "url_pattern":"/v1/social/community",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/social/post",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "input_query_strings": [
        "userID"
    ],
    "backend":[
    {
        "url_pattern":"/v1/social/post",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/social/post",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "input_query_strings": [
        "userID"
    ],
    "backend":[
    {
        "url_pattern":"/v1/social/post",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/social/post",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "input_query_strings": [
        "userID",
        "postID"
    ],
    "backend":[
    {
        "url_pattern":"/v1/social/post",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/social/post",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "input_query_strings": [
        "userID",
        "postID"
    ],
    "backend":[
    {
        "url_pattern":"/v1/social/post",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/social/follow",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "input_query_strings": [
        "sourceUserID",
        "targetUserID"
    ],
    "backend":[
    {
        "url_pattern":"/v1/social/user/follow",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/social/follow/accept",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "input_query_strings": [
        "followRecordId"
    ],
    "backend":[
    {
        "url_pattern":"/v1/social/user/follow/accept",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/social/block",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "input_query_strings": [
        "sourceUserID",
        "targetUserID"
    ],
    "backend":[
    {
        "url_pattern":"/v1/social/user/block",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/social/post/reaction",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "input_query_strings": [
        "postId",
        "userID",
        "type"
    ],
    "backend":[
    {
        "url_pattern":"/v1/social/post/reaction",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/social/timeline",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "input_query_strings": [
        "userID",
        "feedType"
    ],
    "backend":[
    {
        "url_pattern":"/v1/social/user/timeline",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
}
{{end}}