{{define "social"}}
{{$host := .}}
{
    "@comment":"This endpoint enables the client to get a community profile (social)",
    "endpoint":"/v1/gateway/social/user/{userID}/community",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/community?userID={userID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to send a follow profile request to a user profile (social)",
    "endpoint":"/v1/gateway/social/follow/user/source/{sourceUserID}/target/{targetUserID}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/user/follow?sourceUserID={sourceUserID}&targetUserID={targetUserID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to send a follow profile request to a community profile (social)",
    "endpoint":"/v1/gateway/social/follow/community/source/{sourceUserID}/target/{targetUserID}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/user/follow/community?sourceUserID={sourceUserID}&targetUserID={targetUserID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get all communities a user profile follows (social)",
    "endpoint":"/v1/gateway/social/user/{userID}/follow/communities",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/user/follow/communities?userID={userID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to accept pending profile requests (social)",
    "endpoint":"/v1/gateway/social/follow/accept/{followRecordID}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/user/follow/accept?followRecordID={followRecordID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a user's pending profile requests (social)",
    "endpoint":"/v1/gateway/social/user/{userID}/follow/pending-requests",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/user/follow/pending-requests?userID={userID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to block another user profile (social)",
    "endpoint":"/v1/gateway/social/block/source/{sourceUserID}/target/{targetUserID}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/user/block?sourceUserID={sourceUserID}&targetUserID={targetUserID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "endpoint":"/v1/gateway/social/user/{userID}/post/{postID}/reaction/{type}",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/post/reaction?userID={userID}&postID={postID}&type={type}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a feed (user, news, notification) tied to a user or community (social)",
    "endpoint":"/v1/gateway/social/user/timeline",
    "input_query_strings": [
        "userID",
        "feedType",
        "communityProfileID",
        "accountType"
    ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/user/timeline",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a comment associated to a post (social)",
    "endpoint":"/v1/gateway/social/comment",
    "input_query_strings": [
        "postID",
        "commentID"
    ],
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/comment",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a comment and associate it to a post (social)",
    "endpoint":"/v1/gateway/social/comment/post",
    "input_query_strings": [
        "postID",
        "userID",
        "communityProfileID",
        "accountType"
    ],
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/comment",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a community profile (social)",
    "endpoint":"/v1/gateway/social/community/{communityID}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/community?communityID={communityID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a community profile (social)",
    "endpoint":"/v1/gateway/social/community/{userID}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/community?userID={userID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to update a community profile (social)",
    "endpoint":"/v1/gateway/social/community/{communityProfileID}/user/{userID}",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/community?userID={userID}&communityProfileID={communityProfileID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a community profile (social)",
    "endpoint":"/v1/gateway/social/community/{communityProfileID}/user/{userID}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/community?userID={userID}&communityProfileID={communityProfileID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to retrieve a post (social)",
    "endpoint":"/v1/gateway/social/user/{userID}/post/{postID}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/post?userID={userID}&postID={postID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a post (social)",
    "endpoint":"/v1/gateway/social/user/{userID}/post/{postID}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },

    "backend":[
    {
        "url_pattern":"/v1/social/post?userID={userID}&postID={postID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a post (social)",
    "endpoint":"/v1/gateway/social/post",
    "input_query_strings": [
        "userID",
        "communityProfileID",
        "accountType"
    ],
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/post",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a topic and associate it to a community profile (social)",
    "endpoint":"/v1/gateway/social/topic/user/{userID}/community/{communityProfileID}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/topic?communityProfileID={communityProfileID}&userID={userID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get all posts tied to a topic name",
    "endpoint":"/v1/gateway/social/posts/topic/{topicName}/community/{communityProfileID}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/topic/posts?communityProfileID={communityProfileID}&topicName={topicName}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get a user profile (social) by provided userID",
    "endpoint":"/v1/gateway/social/user/{userID}",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/user?userID={userID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"GET",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to delete a user profile (social) by provided userID",
    "endpoint":"/v1/gateway/social/user/{userID}",
    "method":"DELETE",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/user?userID={userID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"DELETE",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to create a user profile (social) by provided userID",
    "endpoint":"/v1/gateway/social/user/{userID}",
    "method":"POST",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/user?userID={userID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"POST",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to update a user profile (social) by provided userID",
    "endpoint":"/v1/gateway/social/user/{userID}",
    "method":"PUT",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/user?userID={userID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get all topics a user profile subscribes to",
    "endpoint":"/v1/gateway/social/user/{userID}/topics",
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }},
        {{ include "validator_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/user/topics?userID={userID}",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get all community profiles on the platform in paginated manner",
    "endpoint":"/v1/gateway/social/communities",
     "input_query_strings": [
        "pageSize",
        "pageNumber"
    ],
    "method":"GET",
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/communities",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
},
{
    "@comment":"This endpoint enables the client to get all user profiles on the platform in paginated manner",
    "endpoint":"/v1/gateway/social/users",
     "input_query_strings": [
        "pageSize",
        "pageNumber"
    ],
    "extra_config":{
        {{ include "rate_limit_endpoint.tmpl" }}
    },
    "backend":[
    {
        "url_pattern":"/v1/social/users",
        "host":[
            "http://social-service.prod.svc.cluster.local:9896"
        ],
        "method":"PUT",
        "extra_config":{
            {{ include "modifier_backend.tmpl" }},
            {{ include "circuit_breaker_backend.tmpl" }},
            {{ include "error_detail_backend.tmpl" }}
        }
    }
    ]
}
{{end}}